@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/allrounder-monument-test');

@keyframes pop-up {
    0% { opacity: 0; transform: translateY(100%) scale(1); }
    100% { opacity: 1; transform: translateY(0) scale(1); }
}

@keyframes Ldec1 {
    0% { transform-origin: bottom center; transform: scale(0) rotate(0); }
    75% { transform-origin: bottom center; transform: scale(0) rotate(0);}
	95% { transform-origin: bottom center; transform: scale(1.03) rotate(15deg); }
	100% { transform-origin: bottom center; transform: scale(1) rotate(0); }
}

@keyframes Ldec2 {
    from { transform-origin: center center; transform: rotate(-18deg) scale(1.05); }
	to { transform-origin: center center; transform: rotate(-18deg) scale(0.8); }
}

@keyframes Rdec1 {
    0% { transform-origin: center center; opacity: 0; }
    60% { transform-origin: center center; opacity: 0;}
	100% { transform-origin: center center; opacity: 1; }
}

@keyframes Rdec2 {
    from { transform-origin: center center; transform: rotate(20deg) scale(0.8); }
	to { transform-origin: center center; transform: rotate(20deg) scale(1.05); }
}

html {
    overflow: scroll;
    overflow-x: hidden;
    background-color: transparent;
}

yt-live-chat-renderer {
    background-color: transparent !important;
    box-shadow: none !important;
}

yt-live-chat-viewer-engagement-message-renderer{
    display: none;
}

yt-live-chat-text-message-renderer, yt-live-chat-author-chip #author-name {
    background-color: transparent !important;
}

yt-live-chat-renderer * {
    font-family: "Noto Sans Thai", serif;
    font-size: 26pt !important;
    font-weight: 300;
    line-height: 32px !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-membership-message-renderer #content {
    display: inline-block;
    overflow: initial !important;
    position: relative;
    width: calc(100% - 180px);
    border: solid 2px green;
    margin-bottom: 20px;
    padding: 0 1.5em;
}

yt-live-chat-item-list-renderer #items,
yt-live-chat-item-list-renderer #item-scroller{
    overflow: hidden !important;
}

::-webkit-scrollbar {
    width: 0;  
}

#menu,
#timestamp,
#panel-pages,
yt-live-chat-header-renderer,
yt-live-chat-message-input-renderer,
yt-live-chat-ticker-renderer,
yt-live-chat-banner-renderer,
yt-live-chat-banner-manager {
    background-color: transparent !important;
    box-shadow: none !important;
    display: none !important;
}


yt-img-shadow#author-photo.yt-live-chat-text-message-renderer,
yt-img-shadow#author-photo.yt-live-chat-text-message-renderer img{
  display: none !important;
  width: 25px !important;
  height: 25px !important;
  border-radius: 25px !important;
  margin-right: 6.25px !important;
}

#author-photo.yt-live-chat-membership-item-renderer img#img,
#author-photo.yt-live-chat-paid-message-renderer img#img,
yt-img-shadow#author-photo.yt-live-chat-membership-item-renderer,
yt-img-shadow#author-photo.yt-live-chat-membership-item-renderer img,
yt-img-shadow#author-photo.yt-live-chat-paid-message-renderer,
yt-img-shadow#author-photo.yt-live-chat-paid-message-renderer img{
  width: 41px !important;
  height: 41px !important;
  border-radius: 41px !important;
  margin-right: 9.75px !important;
}

yt-live-chat-text-message-renderer,
yt-live-chat-membership-item-renderer {
  width: 100%;
  transform-origin: bottom center;
  background-color: transparent !important;
  box-shadow: none !important;
  animation: pop-up ease-in 0.5s;
  transform-origin: center bottom;
}

.emoji {
    width: 41px !important;
    height: 41px !important;
}

.yt-live-chat-author-badge-renderer,
.yt-live-chat-author-badge-renderer svg.yt-icon {
  display: block;
  position: relative;
  width: 24px !important;
  height: 24px !important;
}

yt-img-shadow#author-photo.yt-live-chat-text-message-renderer,
yt-img-shadow#author-photo.yt-live-chat-text-message-renderer img{
  display: none !important;
}

yt-live-chat-membership-item-renderer,
yt-live-chat-paid-message-renderer,
yt-live-chat-paid-sticker-renderer,
ytd-sponsorships-live-chat-header-renderer ,
ytd-sponsorships-live-chat-gift-redemption-announcement-renderer,
ytd-sponsorships-live-chat-gift-purchase-announcement-renderer #header.ytd-sponsorships-live-chat-header-renderer {
    display: none !important;
}

yt-live-chat-renderer #action-panel {
    display: none !important;
}

yt-img-shadow * {
    display: none !important;
}

yt-live-chat-text-message-renderer,
yt-live-chat-membership-item-renderer {
    width: 100%;
    transform-origin: bottom center;
    background-color: transparent !important;
    margin-bottom: -0.8em;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 101.5px 15.5px;
    box-shadow: none !important;
    animation: pop-up ease-in 0.5s;
    transform-origin: center bottom;
}

yt-live-chat-author-badge-renderer[type="verified"] {
    display: none !important;
}

yt-reaction-control-panel-overlay-view-model {
    display: none !important;
}

yt-live-chat-author-chip {
    position: relative;
    justify-items: start;
    align-items: start;
    justify-content: start;
    text-align: left;
    background-color: transparent !important;
    top: 0em;
    left: 0;
    width: 100%;
    max-width: 100%;
    margin: 1em 0 -1em 0;
    padding: 0 !important;
    z-index: 2 !important;
    transform-origin: center top;
}

yt-live-chat-text-message-renderer yt-live-chat-author-chip #author-name {
    vertical-align: middle;
    box-shadow: inset 0 0 0 1000px #62AD9E !important; /*Role color !important*/
    width: fit-content;
    padding: 7px 10px;
    overflow: hidden;
    color: black !important;
    letter-spacing: 1px;
    font-family: 'Allrounder Monument Test', sans-serif !important;
    font-size: 21pt !important;
    font-weight: 500;
    line-height: 28px !important;
    z-index: 2 !important;
}

yt-live-chat-text-message-renderer[author-type="owner"] #author-name {
    box-shadow: inset 0 0 0 1000px #E0DBE8 !important; /*Role color !important*/
}
yt-live-chat-text-message-renderer[author-type="owner"] #author-name::after {
    content: "";
    position: absolute;
    display: block;
    left: -1.5em;
    bottom: 15px;
    height: 60px;
    width: 60px;
    background-image: url('https://github.com/AdithepKuraphong/CSS_RES/blob/main/Icons/Icon-Owner-02.png?raw=true');/* owner Icon */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    z-index: 2;
    animation: Ldec1 1s ease-out;
} 

yt-live-chat-text-message-renderer[author-type="moderator"] #author-name {
    box-shadow: inset 0 0 0 1000px #EDB4BA !important; /*Role color !important*/
} 
yt-live-chat-text-message-renderer[author-type="moderator"] #author-name:before {
    content: "";
    position: absolute;
    display: block;
    left: -1.5em;
    bottom: 15px;
    height: 60px;
    width: 60px;
    background-image: url('https://github.com/AdithepKuraphong/CSS_RES/blob/main/Icons/Icon-Mod-02.png?raw=true');/* Mod Icon */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    z-index: 2;
    animation: Ldec1 1s ease-out;
} 
yt-live-chat-text-message-renderer[author-type="moderator"] #message {
    border: solid 1px #EDB4BA !important;
}


yt-live-chat-text-message-renderer[author-type="member"] #author-name {
    box-shadow: inset 0 0 0 1000px #DDB176 !important; /*Role color !important*/
} 
yt-live-chat-text-message-renderer[author-type="member"] #author-name:before {
    content: "";
    position: absolute;
    display: block;
    left: -1.5em;
    bottom: 15px;
    height: 60px;
    width: 60px;
    background-image: url('https://github.com/AdithepKuraphong/CSS_RES/blob/main/Icons/Icon-Member-02.png?raw=true');/* Member Icon */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    z-index: 2;
    animation: Ldec1 1s ease-out;
} 
yt-live-chat-text-message-renderer[author-type="member"] #message {
    border: solid 1px #DDB176 !important;
}

yt-live-chat-text-message-renderer yt-live-chat-author-badge-renderer {
    display: none !important;
}

yt-live-chat-text-message-renderer #message ,
yt-live-chat-text-message-renderer[is-highlighted] #message {
    display: block;
    position: relative;
    justify-items: center;
    align-items: center;
    justify-content: start;
    text-align: left;
    top: -0.5em;
    left: 0;
    width: calc(100% - 90px);
    color: #ffffff !important;
    letter-spacing: 1px;
    font-size: 30px !important;
    line-height: 34px !important;
    background-color: rgba(0, 0, 0, 0.703) !important;

    border-bottom: 8px solid transparent;
    border-image: linear-gradient(0.08turn, #62AD9E,#62AD9E, #DDB176);
    border-image-slice: 1;
    padding: 2em 1em 2em 2em;
    z-index: -1;
}

.yt-simple-endpoint {
    color: #92738f !important;
}

yt-live-chat-text-message-renderer #author-name:before,
yt-live-chat-text-message-renderer[is-highlighted] #author-name:before {
    content: "";
    position: absolute;
    display: block;
    left: -1.5em;
    bottom: 15px;
    height: 60px;
    width: 60px;
    background-image: url('');/* Author Icon */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    z-index: 2;
    animation: Ldec1 1s ease-out;
}

yt-live-chat-text-message-renderer #author-name:after,
yt-live-chat-text-message-renderer[is-highlighted] #author-name:after {
    content: "";
    position: absolute;
    display: block;
    right: -0.5em;
    bottom: -2.5em;
    height: 80px;
    width: 18px;
    background-image: url('https://github.com/AdithepKuraphong/CSS_RES/blob/main/Decos/Decos-Trim-Member-06.png?raw=true');/* 3pins Icon */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    z-index: 2;
    /* transform: rotate(20deg);
    transform-origin: center bottom;
    animation: Rdec2 0.7s infinite ease-in-out alternate; */
}

yt-live-chat-text-message-renderer #message:after,
yt-live-chat-text-message-renderer[is-highlighted] #message:after {
    content: "";
    display: block;
    position: absolute;
    right: 0.3em;
    bottom: 0.3em;
    height: 80px;
    width: 30px;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    z-index: 2 !important;
    transform-origin: center center;
    animation: Rdec1 0.9s ease-out;
} 

yt-live-chat-text-message-renderer #content:after,
yt-live-chat-text-message-renderer[is-highlighted] #content:after {
    content: "";
    display: block;
    position: absolute;
    right: 0.78em;
    bottom: 0.03em;
    height: 110px;
    width: 90px;
    background-image: url('https://github.com/AdithepKuraphong/CSS_RES/blob/main/Lotus/Lotus-normal-08-08.png?raw=true'); /*Chat Icon*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    /* z-index: 2 !important;
    transform: rotate(-18deg);
    transform-origin: center bottom;
    animation: Ldec2 0.8s infinite ease-in-out alternate; */
}